<ion-content class="shared-background">

  <div class="logo-container">
    <img src="assets/img/logo.png" class="logo-img" />
  </div>

  <h1 class="login-title">
    {{ modoCambio ? 'Nueva contraseña' : 'Recuperar contraseña' }}
  </h1>

  <!-- FORMULARIO 1: Solicitar correo -->
  <ng-container *ngIf="!modoCambio">
    <ion-item class="custom-input">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="correo"></ion-input>
    </ion-item>

    <ion-button expand="block" color="danger" (click)="enviarRecuperacion()">
      Enviar enlace
    </ion-button>
  </ng-container>

  <!-- FORMULARIO 2: Cambiar contraseña -->
  <ng-container *ngIf="modoCambio">
    <ion-item class="custom-input">
      <ion-label position="floating">Nueva contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="nuevaContrasena"></ion-input>
    </ion-item>

    <ion-item class="custom-input">
      <ion-label position="floating">Confirmar contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmarContrasena"></ion-input>
    </ion-item>

    <ion-button expand="block" color="danger" (click)="cambiarContrasena()">
      Guardar contraseña
    </ion-button>
  </ng-container>

  <div class="link-text">
    <ion-router-link routerLink="/login" class="signup-link">Volver al login</ion-router-link>
  </div>

</ion-content>
