<ion-content class="shared-background">

  <ion-toolbar color="danger" class="header-menu">
    <img src="assets/img/logo.png" alt="logo" class="logo-img" />
    <h1 class="menu-title">Ordenes</h1>
    <div class="user-info">
    <div class="user-info"><span>Repartidor</span></div>
    </div>
  </ion-toolbar>

  <div class="pedidos-grid">
    <div *ngFor="let pedido of pedidos" class="pedido-card">
      <img [src]="pedido.imagen" alt="Producto" />
      <h3>{{ pedido.nombre }}</h3>
      <p>{{ pedido.descripcion }}</p>
      <p>Precio: RD${{ pedido.precio }}</p>
      <p>Cantidad: <strong>{{ pedido.cantidad }}</strong></p>

      <div class="status-container {{ pedido.estado.toLowerCase().replace(' ', '') }}">
        🚛 {{ pedido.estado | titlecase }}
      </div>

      <!-- Datos del cliente -->
      <div>
        <p><strong>Cliente:</strong> {{ pedido.nombre_usuario }}</p>
        <p><strong>Teléfono:</strong> {{ pedido.telefono_usuario }}</p>
        <p><strong>Dirección:</strong> {{ pedido.direccion }}</p>
      </div>

      <!-- Repartidor puede actualizar estado solo si él aceptó -->
      <div *ngIf="pedido.id_delivery === idUsuario">
        <ion-item lines="none">
          <ion-label position="stacked">Actualizar Estado</ion-label>
          <ion-select interface="popover" [(ngModel)]="pedido.estado" (ionChange)="cambiarEstadoRepartidor(pedido)">
            <ion-select-option value="en camino">🚚 En Camino</ion-select-option>
            <ion-select-option value="entregado">✅ Entregado</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>

































  
  
  

<ion-footer>
  <ion-toolbar color="danger">
    <ion-tabs>
      <ion-tab-bar slot="bottom">

        <ion-tab-button [routerLink]="'/pedidos'">
          <ion-icon name="list-outline"></ion-icon>
          <ion-label>Pedidos</ion-label>

        </ion-tab-button>

        <ion-tab-button *ngIf="tipoUsuario === 'cliente' || tipoUsuario === 'administrador'" [routerLink]="'/index'">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button *ngIf="tipoUsuario === 'repartidor'" [routerLink]="'/ordenes'">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button *ngIf="tipoUsuario === 'cliente'" [routerLink]="'/compras'">
          <ion-icon name="cart-outline"></ion-icon>
          <ion-label>Compras</ion-label>
        </ion-tab-button>

        <ion-tab-button *ngIf="tipoUsuario === 'administrador'" [routerLink]="'/product'">
          <ion-icon name="pricetags-outline"></ion-icon>
          <ion-label>Productos</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="'/ajustes'">
          <ion-icon name="settings-outline"></ion-icon>
          <ion-label>Ajustes</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>