.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-img {
  width: 300px;
  height: auto;
}

.login-title {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 40px;
}

.custom-input {
  width: 300px; 
  margin: 0 auto; 
  --min-height: 42px; 
  --background: rgba(255, 255, 255, 0.08); 
  border-radius: 12px; 
  margin-bottom: 14px;
  padding: 4px 10px;
  color: white;
  font-size: 15px;
}

ion-button {
  width: 200px;
  margin: 20px auto 0 auto; 
  height: 45px;
  font-weight: bold;
  border-radius: 12px;
  letter-spacing: 1px;
  font-size: 16px;
  display: block; 
}

.link-text {
  text-align: center;
  margin-top: 12px;
  color: white;
  font-size: 14px;
}



.terminos-texto h2 {
  font-size: 18px;
  color: #eb445a;
  margin-top: 20px;
}

.terminos-texto p {
  margin-top: 8px;
  line-height: 1.6;
  color: white;
}


.enlaces-superiores {
  margin-bottom: 10px;
}

.enlace-terminos a {
  display: inline-block;
  margin-top: 8px;
  text-decoration: underline;
}


ion-modal::part(content) {
  --background: #1e1e1e;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

ion-toolbar {
  --background: #eb445a;
  --color: white;
}

ion-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

ion-buttons[slot="end"] {
  margin-left: auto;
}

ion-buttons[slot="end"] ion-button {
  padding-right: 0;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.ion-padding {
  padding: 20px;
  font-size: 15px;
  line-height: 1.6;
  color: white;
}

.ion-padding h2 {
  color: #eb445a;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ion-padding p {
  margin-bottom: 16px;
  text-align: justify;
}


