.logo-container {
  display: flex; 
  justify-content: center; 
  margin-bottom: 20px; 
}

.logo-img {
  width: 300px; 
  height: auto; 
}

.login-title {
  text-align: center; 
  color: white; 
  margin-bottom: 20px; 
  font-size: 40px; 

}



.custom-input {
  width: 300px; 
  margin: 0 auto; 
  --min-height: 42px; 
  --background: rgba(255, 255, 255, 0.08); 
  border-radius: 12px; 
  margin-bottom: 14px;
  padding: 4px 10px;
  color: white;
  font-size: 15px;
}

ion-button {
  width: 200px;
  margin: 20px auto 0 auto; 
  height: 45px;
  font-weight: bold;
  border-radius: 12px;
  letter-spacing: 1px;
  font-size: 16px;
  display: block; 
}